body {
    padding-top: 85px;
    background-color: #f9fafb;
}

#logo {
  height: 48px;
  margin-top: 6px;
  margin-right: 12px;
}
.row > .empty_state {
    position: relative;
    top: 20%;
    transform: translateY(20%);
}
.row > .empty_state > h5 {
    margin-bottom: 20px;
}
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
    background-color: #8245B8;
}
.nav-wrapper {
    width: 90% !important;
}
.card .card-title {
    font-size: 18px !important;
}

.page-header > h4 {
    margin-bottom: 5px;
}

.page-header > .divider {
    margin-bottom: 10px;
}

.card .card-content .card-title {
    line-height: 24px !important;
}

.intl-tel-input {
    position: static !important;
}

.flag-container {
    height: 46px;
    margin-left: 50px;
}

.phone-field {
    padding-left: 3rem !important;
}

.phone-input {
    padding-left: 3rem !important;
    width: calc(100% - 6rem) !important;
}
