body, html{
    height: 100%;
    padding-top: 10px !important;
    background-repeat: no-repeat;
    background-color: #4527a0 !important;
    background: -webkit-linear-gradient(#4527a0, #4527a0);
    background: -o-linear-gradient(#4527a0, #4527a0);
    background: -moz-linear-gradient(#4527a0, #4527a0);
    background: linear-gradient(#4527a0, #4527a0);
}

hr{
    width: 10%;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 15px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin: 0 auto;
 	max-width: 400px;
    padding: 40px 40px;
}

.input-field > i.material-icons.prefix {
    padding-top: 10px;
}

.iti-flag {background-image: url("static/build/img/flags.png");}

#register input {
  font-size: 1.3rem;
}

/* label color */
.pin label {
  color: #fff !important;
}
/* label focus color */
.pin input[type=text]:focus + label {
  color: #fff;
}

.pin input[type=text] {
  color: white;
  text-align: center;
  font-size: 3rem;
}
/* label underline focus color */
.pin input[type=text]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.pin input[type=text].valid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.pin input[type=text].invalid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.pin .prefix.active {
  color: #fff;
}
.logo {
	float:left;
  height: 30px;
  opacity: 0.75;
}

#phone_verification {
  height: 60%;
  display: none;
  margin-top: 80px;
}

#all_done {
  display: none;
  margin-top: 80px;
}

.top_bar {
  width: 85%;
}
