{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "build/css/intlTelInput.css" %} ">
<div id="register" class="container">
	<div class="row main">
   <div class="panel-title center-align">
   		<h3 class="white-text">Alpacka</h3>
   		<hr />
   	</div>
		<div class="main-login main-center">
			<form method="post" action="#">

        <div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">account_circle</i>
            <input type="text" class="validate" name="first_name" id="first_name">
            <label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
            <input type="text" class="validate" name="last_name" id="last_name">
            <label for="last_name">Last Name</label>
					</div>
        </div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
            <input type="email" class="validate" name="email" id="email">
            <label for="email">Tufts Email</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">phone</i>
            <input type="tel" class="validate phone-input" name="phone">
            <label class="phone-field" for="phone">Phone</label>
						<div class="" id="phone">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
            <input type="password" class="validate" name="password" id="password">
            <label for="password">Password</label>
					</div>
				</div>

				<button type="button" id="btn-login" class="btn center-block btn-block login-button">Register</button>
				<div class="center-align login-register">
		            <a href="/login">Login</a>
		         </div>
			</form>
		</div>
	</div>
</div>

{% load static %}
<script src="{% static "register.js" %}"></script>

{% endblock %}
