{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
<div id="login" class="container">
	<div class="row main">
   <div class="panel-title center-align">
   		<h3 class="white-text">Alpacka</h3>
   		<hr />
   	</div>
		<div class="main-login main-center">
			<form method="post" action="#">

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
            <input type="email" class="validate" name="email" id="email">
            <label for="email">Email</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
            <input type="password" class="validate" name="password" id="password">
            <label for="password">Password</label>
					</div>
				</div>

				<button type="button" id="btn-login" class="btn center-block btn-block login-button">Login</button>
				<div class="center-align login-register">
          <a href="/register">Register</a>
	      </div>
			</form>
		</div>
	</div>
</div>

{% load static %}
<script src="{% static "app.js" %}"></script>

{% endblock %}
