<html>
  <head>
    {% include 'css.html' %}
        {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <title>Alpacka</title
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#581593">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {% include 'javascript.html' %}
    {% block navbar %}
    {% endblock %}
    {% block content%}
    {% endblock %}

    <script src="{% static "navbar.js" %}"></script>
  </body>
</html>
