<!-- Horizonal Navigation bar -->
<div id="navbar">
<nav class="nav-fixed">
 <div class="nav-wrapper container">
   <a class="button-collapse" href="#" data-activates="slide-out" id="button-collapse"><i class="material-icons">menu</i></a>
    {% load static %}
     <img id="logo" src="{% static "llamacolor2.png" %}" alt="logo"/>
   <a id="logo-container" class="brand-logo">
     Alpacka
   </a>
   <!-- Horizontal Navbar links only shown on large resolutions -->
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/post_task" class="waves-effect waves-light btn">Post Task</a></li>
     <li><a href="/dashboard" id="button_load">Dashboard</a></li>
     <li><a href="/tasks" id="button_save">Find Tasks</a></li>
     <li><a href="/accepted_tasks" id="button_delete">Accepted Tasks</a></li>
     <li><a href="#" class="logout" id="button_logout">Logout</a></li>
   </ul>
 </div>
</nav>

<!-- Sidebar navigation -->
<ul id="slide-out" class="side-nav">
     <li id="menu_load"><a href="/dashboard">Dashboard</a></li>
     <li id="menu_save"><a href="/tasks">Find Tasks</a></li>
     <li id="menu_delete"><a href="/accepted_tasks">Accepted Tasks</a></li>
     <li class="logout" id="menu_logout"><a class="logout" href="#">Logout</a></li>
     <li><a href="/post_task" class="waves-effect waves-light btn">Post Task</a></li>
</ul>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $(".button-collapse").sideNav();
});
</script>
