{% extends "base.html" %}

{% block content %}
<div id="post_task" class="container">
  <h1>Post Task</h1>
  <div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="any" class="form-control" name="price" id="price" placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="Task_Heading">Task Heading</label>
        <input type="text" class="form-control" name="task_heading" id="Task_Heading" placeholder="Enter heading">
      </div>
      <div class="form-group">
        <label for="Task_Description">Task Description</label>
        <textarea class="form-control" name="task_description" id="Task_Description" rows="3" placeholder="Enter description"></textarea>
      </div>
    	<div class="form-group ">
    		<button type="button" id="btn-post" class="btn btn-primary btn-lg btn-block login-button">Post Task</button>
    	</div>
    </form>
  </div>
  </div>
</div>


{% load static %}
<script src="{% static "post_task.js" %}"></script>
{% endblock %}
