{% extends "base_navbar.html" %}

{% block content %}
<script type="x-template/underscore" id="task_item">
<div class="card hoverable" style="overflow: hidden;">
  <div class="card-content">
    <div class="row">
    <span class="col s10 card-title activator grey-text text-darken-4"><%- task_heading %></span>

    <p class="price card-title col s2">$<%- task_price %></p>
    </div>
    <p><%- task_description %></p>
  </div>

  <div class="card-action">
    <a href="javascript:;" class="blue-text accept_task">Accept Task</a>
  </div>
</div>
</script>
<script type="x-template/underscore" id="empty_state">
<div class="row">
  <div class="empty_state center-align col m6 offset-m3">
    <h5>No Tasks Posted</h5>
    {% load static %}
    <img src="{% static "box.png" %}" alt="My image"/>
    <p>Aw... Looks like there are no tasks posted currently. Check back later or click <span class="green-text">"Post Task"</span>
      to create a task of your own.</p>
   <a href="/post_task" class="waves-effect waves-light btn">Post Task</a>

  </div>
</div>
</script>

<div class="container">
  <div class="page-header">
    <h4>Find Tasks</h4>
    <div class="divider"></div>
  </div>
  <div id="task_list">
  </div>
</div>

{% load static %}
<script src="{% static "tasks.js" %}"></script>

{% endblock %}
